snippet arch "if arch" b
{{ if eq .chezmoi.osRelease.id "arch" }}
{{ end }}
endsnippet

snippet ntr "if not termux" b
{{ if not (eq .linux_os "termux") }}
{{ end }}
endsnippet

snippet nz "if nzxt" b
{{ if eq .chezmoi.fullHostname "nzxt" }}
{{ end }}
endsnippet

snippet lap "if laptop" b
{{ if eq .chezmoi.fullHostname "x1-carbon" }}
{{ end }}
endsnippet

snippet ngu "if not gui" b
{{ if not .gui }}
{{ end }}
endsnippet

