snippet lap "if laptop" b
{{ if eq .chezmoi.fullHostname "x1-carbon" }}
{{ end }}
endsnippet

snippet nz "if nzxt" b
{{ if eq .chezmoi.fullHostname "nzxt" }}
{{ end }}
endsnippet

snippet arch "if arch" b
{{ if eq .chezmoi.osRelease.id "arch" }}
{{ end }}
endsnippet

snippet nro "if not root" b
{{ if not (eq .chezmoi.username "root") }}
{{ end }}
endsnippet
