snippet fxn "function" b
${1:void} ${2:fxnName}($3) {
    $4
}
endsnippet

snippet if "if" b
if ($1) {
	$2
}
endsnippet

snippet scr "script" b
script {
	$1
}
endsnippet

snippet shb "Shell block" b
sh """
$0
"""
endsnippet

snippet vr "var" i
${$1}
endsnippet
